.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 140px;
    height: 40px;
    background-color: rgb(41, 55, 120);
    color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.scroll-to-top.visible {
    opacity: 1;
}